html,body{
background-image: url('fondo.png');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.container{
height: 100%;
align-content: center;
}
.card{
height: 390px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(11, 99, 3, 0.5) !important;
}




